.program-card{
    height: 80%;
    line-height: 15px;
}

.program-card h2{
    color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.program-card-container{
    border: 2px solid red;
}