* {
    padding: 0px;
    margin: 0px;
}

.my-class {
    height: auto;
    min-height: 80vh;

}

.my-class .internal_class {
    height: 440px;
    margin-top: 10px;
    padding-top: 14px;
    /* display: flex; */
    /* justify-content: center; */
    /* height: 100%;s */
}

.my-class .internal_class .container-img {
    position: relative;

    height: 100%;
}


.my-class .container-img img {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    object-fit: fill;
}

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: blue;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 50%;
    color: blue; 
    transition: color 0.2s;
}


.scroll-to-top:hover {
    color: white;
    background-color: blue;  /* Change color on hover */
}


.container-img .card {
    display: flex;
    position: absolute;
    color: red;
    bottom: 0px;
    flex-direction: column;
    gap: 50px;
    height: 30%;
    flex-basis: left;
    background-color: rgba(3, 3, 3, 0.5);
    justify-content: left;
    width: 46%;
    height: 40%;
    left: 76px;
}

.container-img .card h2 {
    padding-top: 40px;
    font-size: 50px;
    font-weight: 30px;
    margin-top: 10px;
    margin: auto;
    display: inline-block;
    margin-bottom: 16px;
    color: white;
}

.container-img .card h4 {
    font-size: 30px;
    font-weight: 30px;
    margin: auto;
    margin-top: 0px;
    display: inline-block;
    color: white;
}

.container-img .card button {
    width: 15%;
    margin-top: 30px;
    padding: 15px 0px 15px 0px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 20px;
    font-style: normal;
    margin-left: 60px;
}

.container-img .card button a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.second-cards {
    background-color: #181818;
    margin-top: 3%;
    display: flex;
    gap: 10%;
    justify-content: center;
    height: 600px;
    padding-bottom: 2%;
    margin-bottom: 0px;
}

.second-cards div {
    width: 40%;
    object-fit: cover;
    display: block;
    object-fit: fill;
}

.second-cards div img {
    width: 100%;
}


.second-cards h1 {
    margin-top: 15px;
    line-height: 1px;
    color: #95e9f9;
    font-weight: 100px;
    font-size: 20px;
    animation: fadeIn 4s;
}

.scale-up {
    transform: scale(0); /* Image starts small */
    animation: scaleUp 2s forwards; /* Animation will last for 2 seconds */
}

@keyframes scaleUp {
    0% {transform: scale(0);} 
    100% {transform: scale(1);} /* At the end of the animation, the image is normal size */
}


.fade-in-image {
    opacity: 0; /* Image starts invisible */
    animation: imageFadeIn 2s forwards; /* Animation will last for 2 seconds */
}

@keyframes imageFadeIn {
    0% {opacity: 0;} 
    100% {opacity: 1;} /* At the end of the animation, the image is fully visible */
}


.second-cards .text {
    padding-top: 20px;
    margin-bottom: 0px;
}



.home-p{
    animation: fadeIn 6s;
}


.second-cards .first-card span {
    font-size: 20px;
    margin-top: 30px;
}

.second-cards .first-card .text {
    display: inline-block;
    color: white;
    width: 100%;
    line-height: 25px;
    font-weight: 20px;
    font-size: 20px;
}

.second-cards .first-card .text section {
    margin-top: 20px;
}



.second-cards .second-card {
    height: 100%;
}

.second-cards .second-card span {
    font-size: 20px;
    margin-top: 30px;
}

.second-cards .second-card .text {
    display: inline-block;
    color: white;
    width: 100%;
    line-height: 25px;
    font-weight: 20px;
    font-size: 20px;
}

.second-cards .second-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    object-fit: fill;
}

.second-cards .second-card .text section {
    margin-top: 20px;
}

.landscape {
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    max-height: 600px;
    margin-top: 0px;
    background-color: #181818;
}

.landscape img {
    margin-left: 70px;
    display: block;
    width: 90%;
    background-color: black;
    height: 80%;
}


.landscape .inner-card {
    line-height: 1px;
    position: absolute;
    bottom: 30px;
    left: 90px;
    height: 66%;
    max-width: 35%;
    line-height: 30px;
    padding-right: 10px;
    background-color: rgba(3, 3, 3, 0.5);
}

.landscape .inner-card h1 {
    padding-top: 20px;
    padding-left: 30px;
    color: #e1261c;
    padding-left: 30px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 6px;
}

.landscape .inner-card span {
    color: red;
    display: block;
    padding-top: 20px;
    padding-left: 30px;
}

.landscape .inner-card button {
    margin-left: 30px;
    display: block;
    margin: auto;
    padding: 5px 5px 5px 5px;
    background-color: red;
    border: none;

    font-weight: 20px;
    font-style: normal;
    margin-top: 20px;
}

.landscape .inner-card button a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.scroll-to-top{
    color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    line-height: 15px;
    border-radius: 10%;
}

.middle-header-main{
    line-height: 15px;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    font-weight: 50px;
    font-size: 30px;
    line-height: 40px !important;
    color: #95e9f9; /* Tomato color, you can change it to any color you want */
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a bit of text shadow for depth */
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    animation: fadeIn 4s;
    text-align: center;
}

.middle-header-main:hover{
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.25);
}

/* home section */

.home-bars{
    margin-top: 30px !important;
    padding: 10px;
    line-height: 20px;
    border-radius: 4px;
    text-rendering: optimizeLegibility;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    background-color: #313333;
    margin: auto;
}

.home-bars-items {
    padding: 10px;
    background-color: #3498DB;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
}


.expanded-info{
    cursor: pointer;
    margin-top: 2px;
    width: 40px;
    font-weight: bold;
    z-index: 2
}

.home-bars-items .item-container {
    display: flex;
    justify-content: space-between;
    min-height: 60px; 
    align-items: center;
    width: 100%; /* ensures it takes the full width of the parent */
}

.home-bars-items > div {
    display: none; /* initially hidden */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* slightly lighter background for distinction */
    margin: 10px 0; /* some spacing */
    border-radius: 4px;
}


.home-bars-items.expanded > div {
    display: block;
}

.useful-information{
    animation: fadeIn 2s;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.home-bars .info-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    height: auto;
}

.home-bars-wrapper{
    width: 90%;
    margin: auto;
}

.home-bars-items{
    padding: 10px;
    background-color: #3498DB;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

/* new style for the card */
.expanded-item {
    /* text-align: center; */
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #313333;
    transition: transform 0.2s;
    grid-column: 1 / 3;
    height: auto;
}

.expa

.expanded-item:hover {
    transform: scale(1.02);
}

.expanded-item img.scale-up {
    max-width: 80%;
    max-height: 400px;
    width: 50%;
    height: auto;
    margin-bottom: 20px !important;
    display: block; /* Ensures that the image is a block element */
    margin: 0 auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.expanded-item-home-gym-desc{
    text-align: left;
}

.expanded-item img.scale-up:hover {
    transform: scale(1.05);
}

.expanded-item .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expanded-item h1 {
    font-size: 24px;
    color: #95e9f9;
    margin-bottom: 10px;
}

.expanded-item p.home-p {
    font-size: 16px;
    color: whitesmoke;
    line-height: 1.5;
    display: block; /* override the inline-block */
}

.video-frame2{
    display: block;
    margin: 0 auto;
}

.video-frame{
    margin-bottom: 12px !important;
}


.video-frame2{
    border: 4px solid rgb(86, 84, 84);
    border-radius: 8px;
    /* border: 1px solid red; */
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.gym-marketplace{
    animation: fadeIn 2s;
}

.buy-or-sell{
    animation: fadeIn 2s;
}

@media screen and (max-width: 600px) {

    .gym-marketplace{
        margin: auto;
        text-align: center !important;
    }

    .video-frame{
        width: 100%;
    }

    .video-frame2{
        width: 100%;
    }

    .buy-or-sell{
        text-align: left;
        margin-left: 15px !important;
    }

    .my-class {
        height: auto;
    }

    .my-class .internal_class {
        height: 300px;
        position: relative;
    }

    .my-class .internal_class .container-img .card{
        position: absolute;
        top: 140px;
    }


    .my-class .internal_class .card h2,
    h4 {
        padding-top: 5px;
    }

    .container-img .card {
        bottom: 260px;
        left: 5px;
        position: absolute;
        top: 128px !important;
        width: 70%;
    }

    .container-img .card h2 {
        font-size: 30px;
        line-height: 35px;
        font-weight: 5px;
        font-size: 20px;
        margin-top: 0px;
        padding-top: 25px;
    }

    .container-img .card h4 {
        font-size: 30px;
        line-height: 35px;
        font-weight: 5px;
        font-size: 20px;
        margin-top: 0px;
        padding-top: 15px;
        position: absolute;
        top: 30px;
        left: 17px;
    }



    .second-cards {
        padding-top: 20px;
        flex-direction: column;
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
    }

    .second-cards div {
        width: 100%;
        height: auto;
    }

    .second-cards .first-card {
        margin-bottom: 15px; 
    }

    .second-cards .second-card {
        margin-bottom: 15px; 
    }

    .second-cards .second-card .text h1{
        line-height: 25px;
    }

    .second-cards .second-card .text section {
        margin-top: 10px;
    }

 

    .landscape {
        height: 320px;
        width: 80%;
        margin: auto;
        position: relative;
    }

    .landscape img {
        margin-left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-fit: fill;
    }

    .landscape .inner-card {
        position: absolute;
        top: 10px;
        left: 50px;
        height: 96%;
        width: 70%;
        max-width: 100%;

        padding-left: 6px;
    }

    .landscape .inner-card h1{
        font-size: 20px;
        line-height: 20px;
        padding-top: 10px;
        padding: 5px 0px 5px 0px;
        letter-spacing: 2px;
        margin: 0px;
    }

    .landscape .inner-card span{
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        padding-top: 10px;
        padding: 5px 0px 5px 0px;
        margin: 0px;
    }

    .middle-header-main{
        font-size: 16px;
    }

    .landscape .inner-card button{
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        padding-top: 10px;
        margin: 0px;
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 5px;
    }

    .landscape .inner-card button{
        border: none;
        background-color:  black;
        color: rgb(159, 147, 147);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: bold;
        padding: 6px 3px 6px 3px;
        position: absolute;
        top: 260px;
        left: 60px;
    }


    .landscape .inner-card button a{
        border: none;
        font-size: 12px;
        color:red;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding-bottom: 5px;
    }

    /* make on hoover to be in red and the text in black */
    .landscape .inner-card button:hover{
        background-color: red;
        color: black;
    }

    .landscape .inner-card button a:hover{
        color: black;
    }

    .scroll-to-top{
        color: black;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        line-height: 15px;
    }

    /* home dropdown elements */
    .info-list{
        grid-template-columns: 1fr !important;
    }

    .my-class{
        min-height: 30vh;
    }

    .expanded-item {
        grid-column: 1 / 2;  /* reset to single column for mobile */
    }



}