.header {
    display: flex;
    margin: auto;
    align-items: center;
    margin-right: auto;
    line-height: 0px;
    border-bottom: 2px solid  #3498DB !important;
    height: 10% !important;
}

.header:hover{
    border-bottom-color: #999 !important;
}

.header h2 {
    width: 10%;
    margin-right: auto;
    width: 50px;
    margin-left: 10px;
    line-height: 15px;
    color: white;
    display: block;
    width: 1%;
    margin-right: auto;
}

.navigation {
    margin-right: auto;
    position: relative;
}


.navigation .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.navigation .list a {
    color: white;
    text-decoration: none;
}

.navigation .list a:hover{
    color:  #3498DB;
}

.gym-hub:hover{
    color: #3498DB;
}

.programs-overview{
    position: absolute; 
    border-radius: 4%;
    height: 200px;
    z-index: 3;
    line-height: 10px;
    width: 300px;
    left: 300px;
    top: 10px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #306085;
}

.programs-overview a{
    display: inline-block;
    color: #306085 !important;
    padding-top: 20px;
    height: 28px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
    padding-left: 20px;
    /*  */
    font-size: 16px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #306085;
}

.programs-overview a:hover{
    color: darkblue !important;
}

.unread-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    top: -10px;
    right: 15px;
}

.programs-overview p{
    margin-top: 10px;
    color: #FFA000;
    font-family: 'LatoBold', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
}

.programs-overview div:first-of-type{
    margin-top: 20px;
}

.logo-profiler:hover{
    color: #3498DB !important;
}
/* 
.modal {
    position: fixed;
    z-index: 999999999999999999 !important;
    left: 1100px;
    border: 1px solid red;
    top: 0;
    line-height: 15px;
    width: 20%;
    height: 20%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
} */

.profile-section {
    display: flex;
    align-items: center;
}

.profile-logo {
    margin-right: 10px;
}

.logo-profiler {
    color: #fff;
    font-size: 1.2em;
}

.unread-count {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    position: fixed;
    z-index: 9999;
    left: 1240px;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 16%;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

.link-header{
    list-style: none;
    text-decoration: none;
}

.link-header:hover {
    text-decoration: none;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;  /* Giving it some breathing room */
    border-radius: 5px;  /* Soften the edges for a modern look */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* responsive */
@media screen and (max-width: 480px) {
    .header h2 {
        padding-left: 5px;
        margin-top: 5px;
        width: 22%;
        display: block;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .navigation {
        display: inline-block;
        width: 80%;
    }

    .header nav{
        height: 30px;
        width: 86%;
        margin: left;
        margin-top: 10px;
        
    }

    .header nav a{
        font-size: 15px;
        display: inline-block;
        text-align: center;
    }

    .header .navigation ul.list{
        justify-content: center;
    }

    .gym-hub{
        margin: auto !important;
        align-items: center !important;
        display: block;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    nav.navigation{
        display: inline-block;
        width: 80%;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
    }

    .profile-logo{
        padding-top: 14px;
        margin-bottom: 15px;
        margin-left: 25px;
    }
}