.footer {
    background-color: #181818;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.App {
    flex: 1;
}
 
html {
    height: 100%;
} 


@media screen and (max-width: 600px) {
    .footer {
        font-size: 15px;
    }
}